body {
  font-family: Courier, monospace;
  margin: 5px;
  padding: 5px;
  text-align: center;
  line-height: 27px;
}

.textBox h1 {
  margin-bottom: 10px;
}

/* #fishes {
} */

#label-output {
  font-size: 1.1em;
  margin-top: 10px;
}

pre {
  font-family: Courier, monospace;
}
