@font-face {
  font-family: "brillant";
  src: url(brillant.otf);
}

body {
  margin: 5px;
  padding: 10%;
  text-align: center;
  line-height: 27px;
  font-family: "brillant";
}

.textBox h1 {
  margin-bottom: 10px;
}

/* #fishes {
} */

#label-output {
  font-size: 1.1em;
  margin-top: 10px;
  
}

pre {
  font-family: "brillant";
}